div(data-netdata='system.cpu' data-height=chartHeight)
div(data-netdata='system.ram' data-height=chartHeight data-dimensions='used')
div(data-netdata='system.load' data-height=chartHeight)
div(data-netdata='system.io' data-height=chartHeight)

div(data-netdata='sensors.temp_thermal_zone0_thermal_thermal_zone0'
    data-height=chartHeight
    data-dygraph-valuerange='[30, 80]')
